.iq-blog-box {
  .iq-blog-meta-cat-tag {
    li {
      float: right;
    }
  }
}

.iq-blogs-meta {
  .iq-blogtag {
    li {
      padding-right: 0;
      padding-left: 1em;
    }
  }
}

.block-quote {
  padding-right: 1rem;
}
