{{#extend layout title="Membership Levels" active="membership-levels" isHeader="true" isFooter="true" ismegamenu="true"
path="../"
isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}
<div class="section-padding">
    <div class="pmpro container">
        <section id="pmpro_levels" class="pmpro_section">
            <div class="pmpro_section_content">
                <div id="pmpro_level_group-1" class="pmpro_card pmpro_level_group">
                    <div class="pmpro_card_content">
                        <table class="pmpro_table pmpro_levels_table">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Price</th>
                                    <th><span class="screen-reader-text">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="pmpro_level-2" class="pmpro_level">
                                    <th data-title="Level">Basic Plan</th>
                                    <td data-title="Price">
                                        <p class="pmpro_level-price"><strong>$10.00</strong> now. </p>
                                    </td>
                                    <td>

                                        <a aria-label="Select the Basic Plan membership level"
                                            class="pmpro_btn pmpro_btn-select w-100"
                                            href="{{path}}profile/membership-comfirmation.html">Select</a>
                                    </td>
                                </tr>
                                <tr id="pmpro_level-3" class="pmpro_level">
                                    <th data-title="Level">Standard Plan</th>
                                    <td data-title="Price">
                                        <p class="pmpro_level-price"><strong>$79.00</strong> now and then <strong>$89.00
                                                per
                                                Month</strong>. </p>
                                    </td>
                                    <td>

                                        <a aria-label="Select the Standard Plan membership level"
                                            class="pmpro_btn pmpro_btn-select w-100"
                                            href="{{path}}profile/membership-comfirmation.html">Select</a>
                                    </td>
                                </tr>
                                <tr id="pmpro_level-4" class="pmpro_level">
                                    <th data-title="Level">Premium Plan</th>
                                    <td data-title="Price">
                                        <p class="pmpro_level-price"><strong>$180.00 every 3 Months</strong>. </p>
                                    </td>
                                    <td>

                                        <a aria-label="Select the Premium Plan membership level"
                                            class="pmpro_btn pmpro_btn-select w-100"
                                            href="{{path}}profile/membership-comfirmation.html">Select</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end pmpro_card_content -->
                </div> <!-- end pmpro_card -->
            </div> <!-- end pmpro_section_content -->
        </section> <!-- end pmpro_section -->
    </div>
</div>

{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}
{{!-- Mobile Footer End --}}

{{/content}}
{{/extend}}