{{#extend 'layouts/dashboard/simple' isSidebar="false" isNavbar="false" isBanner="false" isPageContainer="false"
title="confirm-mail" active="auth-confirm-mail" path="../" }}
{{#content "content"}}
<section class="sign-in-page" style="background-image: url('{{path}}assets/images/login/login.webp')">
   <div class="h-100 container">
      <div class="justify-content-center align-items-center h-100 row">
         <div class="col-12  col-md-6 col-sm-12">
            <div class="sign-user_card ">
               <a href="{{path}}index.html">
                  <img class="img-fluid logo" src="{{path}}assets/images/logo-full.png" alt="#">
               </a>
               <div class="sign-in-page-data">
                  <h3 class="mb-3 text-center">Success !</h3>
                  <p class="text-body">A email has been send to <a role="button" tabindex="0"
                        href="javascript:void(0);" class="__cf_email__ bg-dark border-0 p-0 btn btn-primary">[email&nbsp;protected]</a> Please
                     check for an email from company and click on the included link to reset your password.</p>
                  <a class="btn btn-primary w-100 custom-sign-btn mt-2" href="{{path}}index.html">Back
                     to Home</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{{/content}}
{{/extend}}