{{#extend 'layouts/dashboard/simple' isSidebar="false" isNavbar="false" isBanner="false" isPageContainer="false"
title="lock-screen" active="auth-lock-screen" path="../" }}
{{#content "content"}}
<section class="sign-in-page" style="background-image: url('{{path}}assets/images/login/login.webp')">
   <div class="h-100 container">
      <div class="justify-content-center align-items-center h-100 row">
         <div class="col-12 col-lg-6 col-md-7 col-sm-12">
            <div class="sign-user_card ">
               <a href="{{path}}index.html">
                  <img class="img-fluid logo" src="{{path}}assets/images/logo-full.png" alt="#">
               </a>
               <div class="sign-in-page-data">
                  <div class="sign-in-from w-100 m-auto">
                     <h3 class="mb-3 text-center">Hi ! Michael Smith</h3>
                     <p class="text-body text-center">Enter your password to access the admin.</p>
                     <form class="mt-4">
                        <div class="mb-3"><input placeholder="Password" autocomplete="off" required="" type="email"
                              id="exampleInputEmail2" class="mb-0 form-control"></div>
                     </form>
                     <a class="btn btn-primary w-100 custom-sign-btn mt-2" href="{{path}}index.html">Log In</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{{/content}}
{{/extend}}