.wrapper-class {
    .swiper-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }
}

// .swiper-wrapper {
//     z-index: -1 !important;
// }

// // .swiper {
// //     z-index: -1 !important;
// // }

// .custom-checkout-choose {
//     .choices__list--single {
//         padding: 0 !important;
//         padding-top: 1.5px !important;
//     }

//     .choices[data-type*=select-one]::after {
//         right: 20.5px !important;
//     }

// }

// [dir=rtl] {

//     .custom-checkout-choose {
//         .choices[data-type*="select-one"]::after {
//             right: auto !important;
//             left: 22px !important;
//         }

//         .iq-custom-select .choices__inner {
//             padding: .4375em 1em .5em 1em !important;
//         }

//     }
// }

// @media (max-width: 479.98px) {
//     .trending-contens {
//         .trending-tab-slider {
//             .iq-custom-tab {
//                 -webkit-box-orient: horizontal;
//                 -webkit-box-direction: normal;
//                 flex-direction: row !important;
//                 overflow-x: auto !important;
//                 max-width: 100% !important;
//             }
//         }
//     }
// }

// .trending-contens .trending-tab-slider .iq-custom-tab li {
//     -webkit-flex-shrink: 0;
//     -ms-flex-negative: 0;
//     flex-shrink: 0;
// }

// .custom-swiper-wraper {
//     .swiper-wrapper {
//         margin: 0px !important;
//         display: flex !important;
//         align-items: center !important;
//     }
// }

// #gallery-bottom {

//     .iq-custom-tab.nav-pills .nav-item .nav-link.active,
//     .iq-custom-tab.nav-pills .nav-item .nav-link {
//         margin-left: 0.938rem !important;
//         margin-right: 0.938rem !important;
//     }
// }

// @media (max-width: 820px) {

//     .iq-banner-thumb-slider .slider .slider-bg .slider-images .description>.row,
//     .custom-header-relative .main-content {
//         padding-top: 54px;
//     }

//     .iq-restriction_box {
//         margin-top: calc((54px) + 2rem);
//     }
// }

[dir=rtl] ol, [dir=rtl] ul {
    padding-right: 0;
}