{{#extend layout title="movie tags" isBanner="false" ActiveLink="MovieList" active="movie-tags" isFlatpickr="true"
isSelect2="false" isSweetalert="true" path="../" }}
{{#content "content"}}

<div class="row streamit-wraper-table2">
    <div class="col-lg-4">
        <div class="card pb-3">
            <div class="card-header">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative "> Add New Tag </span>
                </h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label flex-grow-1" for="Name">
                                    Name <span class="text-danger">*</span>
                                </label>
                                <input id="Name" type="text" class="form-control " placeholder="Enter name of the tag."
                                    required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label flex-grow-1" for="Slug">
                                    Slug <span class="text-danger">*</span>
                                </label>
                                <input id="Slug" type="text" class="form-control " placeholder="Enter slug of the tag."
                                    required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label flex-grow-1" for="Description">
                                    Description
                                </label>
                                <textarea id="Description" class="form-control" rows="7"
                                    placeholder="Enter tag description here."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#video-modal">Add Tag
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card pb-3">
            <div class="card-header d-flex justify-content-between gap-3 flex-wrap align-items-center">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative"> Tags </span>
                </h2>
            </div>
            <div class="card-body">
                <div class="table-view table-space">
                    <table id="seasonTable"
                        class="data-tables table custom-table movie_table data-table-one custom-table-height"
                        data-toggle="data-table1">
                        <thead>
                            <tr class="text-uppercase">
                                <th class="">
                                    <input type="checkbox" class="form-check-input" />
                                </th>
                                <th>Term Name</th>
                                <th>Term Slug</th>
                                <th>Count</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{> components/widgets/data-table
                            term-name="Thriller"
                            term-slug="thriller"
                            count="2"
                            isTags="true"
                            }}

                            {{> components/widgets/data-table
                            term-name="Sci-Fi"
                            term-slug="sci-fi"
                            count="2"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Revenge"
                            term-slug="revenge"
                            count="2"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Recommended"
                            term-slug="recommended"
                            count="1"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Mystery"
                            term-slug="mystery"
                            count="10"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Horror"
                            term-slug="horror"
                            count="8"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Hitman"
                            term-slug="hitman"
                            count="3"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="History"
                            term-slug="history"
                            count="2"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Fantasy"
                            term-slug="fantasy"
                            count="3"
                            isTags="true"
                            }}
                            {{> components/widgets/data-table
                            term-name="Family"
                            term-slug="family"
                            count="3"
                            isTags="true"
                            }}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{{!-- edit --}}
<div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit">
    <div class="offcanvas-header">
        <h2 class="episode-playlist-title wp-heading-inline">
            <span class="position-relative ">
                Update Tag</span>
        </h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="section-form">
                <div class="form-group">
                    <label class="form-label" for="name">Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" value="Name">
                </div>
                <div class="form-group">
                    <label class="form-label" for="Slug1">Slug <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Slug1" value="genremovie">
                </div>
                <div class="form-group">
                    <label class="form-label flex-grow-1" for="Description1">
                        Excerpt
                    </label>
                    <textarea id="Description1" class="form-control" rows="7" placeholder="Genres"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="offcanvas-footer border-top">
        <div class="d-flex gap-3 p-3">
            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="ph-fill ph-floppy-disk-back"></i>Save
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"
                aria-label="Close">
                <i class="ph ph-caret-double-left"></i>Close
            </button>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}