<div class="iq-card-geners position-relative card-hover-style-two">
    <div class="img-box position-relative">
        <a href="{{geners-url}}">
            <img src="{{path}}assets/images/{{geners-image}}" alt="geners-img" class="img-fluid">
            <h6 class="blog-description">{{geners-title}}</h6>
        </a>
    </div>
</div>