{{#extend layout title="video playlist" isBanner="false" ActiveLink="videos" active="video-playlist"
isSelect2="true" isSweetalert="true" path="../" }}
{{#content "content"}}

<div class="row streamit-wraper-table2">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative "> Add New Video Playlist </span>
                </h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="form-label" for="playlist-name">Playlist Name<span>*</span></label>
                        <input type="text" class="form-control" id="playlist-name"
                            placeholder="Enter the name of the video playlist.">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="playlist-slug">Playlist Slug<span>*</span></label>
                        <input type="text" class="form-control" id="playlist-slug"
                            placeholder="Enter the slug of the video playlist.">
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4">
                        <button class="btn btn-primary">Add Video Playlist</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <div class="pb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="episode-playlist-title wp-heading-inline">
                        <span class="position-relative "> Video Playlists </span>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-view table-space">
                        <table id="seasonTable"
                            class="data-tables table custom-table movie_table data-table-one custom-table-height"
                            data-toggle="data-table1">
                            <thead>
                                <tr class=" text-uppercase">
                                    <th class="">
                                        <input type="checkbox" class="form-check-input" />
                                    </th>
                                    <th class="">Playlist Name</th>
                                    <th class="">Playlist Slug</th>
                                    <th class="">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{> components/widgets/data-table
                                isPlaylist="true"
                                playlist-name = "My Favorite Videos"
                                playlist-slug="myfavoritevideos"
                                }}                                

                                {{> components/widgets/data-table
                                isPlaylist="true"
                                playlist-name = "Knowledge Hub"
                                playlist-slug="knowledgehub"
                                }}

                                {{> components/widgets/data-table
                                isPlaylist="true"
                                playlist-name = "Love Stories"
                                playlist-slug="lovestories"
                                }}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit">
    <div class="offcanvas-header">
        <h2 class="episode-playlist-title wp-heading-inline">
            <span class="position-relative "> Update Video Playlist</span>
        </h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="section-form">
                <div class="form-group">
                    <label class="form-label" for="playlist-name1">Playlist Name *</label>
                    <input type="text" class="form-control" id="playlist-name1" value="My Favorite Videos"
                        placeholder="Enter title of the genre.">
                </div>
                <div class="form-group">
                    <label class="form-label" for="playlist-slug1">Playlist Slug *</label>
                    <input type="text" class="form-control" id="playlist-slug1" value="myfavoritevideos"
                        placeholder="Enter slug of the genre.">
                </div>
            </div>
        </form>
    </div>
    <div class="offcanvas-footer border-top">
        <div class="d-flex gap-3 p-3">
            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="ph-fill ph-floppy-disk-back"></i>Save
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="ph ph-caret-double-left"></i>Close
            </button>
        </div>
    </div>
</div>


{{/content}}
{{/extend}}