{{#extend layout title="Dramas" active="blog-category" isHeader="true" isFooter="true" path="../" isBreadcrumb="true"
isSweetalert="true"}}
{{#content "content"}}
<div class="blog-listning section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="rebirth-of-the-realm.webp" id="01" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Anthology Series Stories Keeping Us Guessing"
                    blogText="An anthology series filled with captivating stories that keep us guessing till the end.An anthology series featuring diverse, gripping stories that keep viewers on the edge of their seats. Each tale unravels with twists and surprises, leaving us guessing till the very end" }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="Special-Effects.webp" id="02" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Special Effects Bringing Movies to Life" blogText="Praesent
                    iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec
                    porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="to-be-continue.webp" id="03" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Cliffhangers TV’s Secret Hooking Art" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit. Nam vulputate libero quis nisi euismod rhoncus. Sed eu euismod felis. Aenean ullamcorper dapibus odio ac tempor. Aliquam iaculis, quam vitae imperdiet consectetur, mi ante […]"}}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="duos-standing.webp" id="04" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Legendary On-Screen Duos That Endured" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit. Nam vulputate libero quis nisi euismod rhoncus. Sed eu euismod felis. Aenean ullamcorper dapibus odio ac tempor. Aliquam iaculis, quam vitae imperdiet consectetur, mi ante […]" }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="short-movie.webp" id="05" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Short Films Thrive on Streaming Platforms" blogText="Learn how short films are finding a new audience and changing the entertainment landscape." }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="beloved.webp" id="06" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Beloved Fantasy Worlds That Ignite Our Imagination"
                    blogText="Explore the most immersive fantasy series capturing hearts worldwide." }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="blog9.webp" id="07" blogDate="January 10, 2025" 
                    blogAuthor="jenny" blogTitle="Box Office to Couch The Movie Viewing Shift" blogText="Discover how streaming services have revolutionized the way we experience movies." }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="blog8.webp" id="08" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Behind the Scenes Making Your Favorite Shows " blogText="Take a peek into the creative process behind today’s most iconic series." }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="Independent.webp" id="09" blogDate="January 10, 2025" 
                    blogAuthor="jenny" blogTitle="Top Independent Films to Stream Now " blogText="Celebrate indie gems making waves in the digital entertainment space." }}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="blog5.webp" id="10" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Entertainment When Gaming Meets Streaming " blogText="A look at how gaming and esports are carving a niche in the streaming industry."}}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="blog4.webp" id="10" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Why Are Horror Movies So Addictive?" blogText="Dive into the world of horror and what keeps audiences coming back for more."}}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="comedy-movie.webp" id="10" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="Comedy Gold The Funniest TV Shows to Watch" blogText="A handpicked list of laugh-out-loud comedies to brighten your day. This curated selection features a diverse range of comedic styles, from hilarious rom-coms and witty workplace comedies to side-splitting action-comedies and heartwarming family films. Get ready to laugh until your sides hurt with this guaranteed mood booster."}}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="kisds-movie.webp" id="10" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle=" Animated Family Films The Streaming Success Story " blogText="Discover how animated family films have become the heart of streaming platforms, captivating audiences of all ages with their timeless charm and universal appeal."}}
                </div>
                <div class="col">
                    {{> components/widgets/blog-card linkButton="true" blogImg="blog1.webp" id="10" blogDate="January 10,
                    2025" blogAuthor="jenny" blogTitle="The Most Anticipated Movies This Year  " blogText="Buckle up, movie lovers! This year's lineup is packed with thrilling adventures, heartwarming stories, and mind-bending spectacles. Discover the must-see films that have us buzzing with excitement."}}
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                {{>components/widgets/blog-sidebar}}
            </div>
        </div>
    </div>
</div>
{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}