.loader {
  &.simple-loader {
    /* make loader a full-screen overlay and ensure it's centered/visible */
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden !important;
    right: 0;
    z-index: 1250;

    .loader-body {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}