{{#extend layout title="Access Control" active="access-control" path="./" isBanner="false"}}
{{#content "content"}}
<div class="row">
    <div class="card">
        <div class="permission-collapse border rounded p-3 mb-3 mt-3" id="permission_02">
            <div class="d-flex align-items-center justify-content-between">
                <h6>Manager</h6>
                <div class="toggle-btn-groups">
                    <button class="btn btn-primary collapsed btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#permission" aria-expanded="false" aria-controls="permission">
                        Permission
                    </button>
                </div>
            </div>
            <div class="collapse show mt-3 table-responsive " id="permission">
                <table class="table table-condensed table-striped mb-0 fixed-width-table">
                    <thead>
                        <tr>
                            <th>Modules</th>
                            <th>View</th>
                            <th>Add</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th class="text-end"><input class="btn btn-secondary" type="submit" value="Save">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rating</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch1"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch1"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch1"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch1"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Users</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch2"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch2"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch2"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch2"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Movie List</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch3"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch3"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch3"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch3"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Shows</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch4"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch4"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch4"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch4"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Seasons</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch5"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch5"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch5"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch5"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Episodes</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch6"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch6"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch6"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch6"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Setting</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch7"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch7"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch7"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch7"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td>
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="button" aria-controls="hiddenRow"
                                        data-bs-toggle="collapse" data-bs-target=".hiddenRow"
                                        class="btn btn-primary collapsed setting-info">
                                        <i class="ph ph-caret-down me-2"></i>More
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiddenRow">
                            <td colspan="12" class="collapse show" id="hiddenRow">
                                <div class="accordian-body">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center p-0 border-bottom-0">
                                                    <div
                                                        class="d-flex align-items-center gap-2 justify-content-between">
                                                        Sidebar
                                                        <span class="ms-5">
                                                            <input type="checkbox" id="sidebar" name="sidebar"
                                                                class="form-check-input" value="manager">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiddenRow">
                            <td colspan="12" class="collapse show" id="hiddenRow1">
                                <div class="accordian-body">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center p-0 border-bottom-0">
                                                    <div
                                                        class="d-flex align-items-center gap-2 justify-content-between">
                                                        Header
                                                        <span class="ms-5">
                                                            <input type="checkbox" id="sidebar1" name="sidebar"
                                                                class="form-check-input" value="manager">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiddenRow">
                            <td colspan="12" class="collapse show" id="hiddenRow2">
                                <div class="accordian-body">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center p-0 border-bottom-0">
                                                    <div
                                                        class="d-flex align-items-center gap-2 justify-content-between">
                                                        Live Customizer
                                                        <span class="ms-5">
                                                            <input type="checkbox" id="sidebar2" name="sidebar"
                                                                class="form-check-input" value="manager">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="permission-collapse border rounded p-3 mb-3 mt-3" id="permission_03">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0">User</h6>
                <div class="toggle-btn-groups">
                    <button class="btn btn-primary collapsed btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#user" aria-expanded="false" aria-controls="user">
                        Permission
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse mt-3" id="user">
                <table class="table table-condensed table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Modules</th>
                            <th>View</th>
                            <th>Add</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th class="text-end"><input class="btn btn-secondary" type="submit" value="Save">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rating</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch8"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch8"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch8"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch8"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch9"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch9"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch9"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch9"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Users</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch10"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch10"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch10"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch10"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Movie List</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch11"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch11"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch11"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch11"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Shows</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch12"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch12"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch12"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch12"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Seasons</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch13"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch13"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch13"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch13"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Episodes</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch14"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="14role-manager-permission-add_branch14"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch14"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch14"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Setting</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch15"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch15"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch15"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch15"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td>
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="button" aria-controls="hiddenRowUser"
                                        data-bs-toggle="collapse" data-bs-target=".hiddenRowUser"
                                        class="btn btn-primary collapsed setting-info">
                                        <i class="ph ph-caret-down me-2"></i>More
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiddenRowUser">
                            <td colspan="12" class="collapse show" id="hiddenRowUser">
                                <div class="accordian-body">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center p-0 border-bottom-0">
                                                    <div
                                                        class="d-flex align-items-center gap-2 justify-content-between">
                                                        Sidebar
                                                        <span class="ms-5">
                                                            <input type="checkbox" id="sidebar" name="sidebar"
                                                                class="form-check-input" value="manager">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiddenRowUser">
                            <td colspan="12" class="collapse show" id="hiddenRowUser1">
                                <div class="accordian-body">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center p-0 border-bottom-0">
                                                    <div
                                                        class="d-flex align-items-center gap-2 justify-content-between">
                                                        Header
                                                        <span class="ms-5">
                                                            <input type="checkbox" id="sidebar1" name="sidebar"
                                                                class="form-check-input" value="manager">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiddenRowUser">
                            <td colspan="12" class="collapse show" id="hiddenRowUser2">
                                <div class="accordian-body">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center p-0 border-bottom-0">
                                                    <div
                                                        class="d-flex align-items-center gap-2 justify-content-between">
                                                        Live Customizer
                                                        <span class="ms-5">
                                                            <input type="checkbox" id="sidebar2" name="sidebar"
                                                                class="form-check-input" value="manager">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}