{{#extend layout title="review" isBanner="false" ActiveLink="review" active="review" isFlatpickr="true"
isSelect2="false" isSweetalert="true" path="../" isQuillEditor="true" }}
{{#content "content"}}
<div class="row">
    <div class="col-sm-12">
        <div class="streamit-wraper-table">
            <div class="card-header d-flex justify-content-between gap-3 flex-wrap align-items-center mb-4">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative ">
                        Review list </span>
                </h2>
            </div>
            <div class="table-view table-space streamit-wraper-table3">
                <div class="d-flex align-items-center mt-3 gap-2">
                    <div class="form-group mb-0">
                        <select class="form-control select2-basic-multiple">
                            <option>Movie</option>
                            <option>Tv Show</option>
                            <option>Video</option>
                            <option>Episode</option>
                        </select>
                    </div>
                    <button class="btn btn-primary ">Filter</button>
                </div>
                <table id="seasonTable" class="data-tables table custom-table movie_table custom-table-height"
                    data-toggle="data-table2">
                    <thead>
                        <tr class="text-uppercase">
                            <th>
                                <input type="checkbox" class="form-check-input" />
                            </th>
                            <th>Author</th>
                            <th>Post Type</th>
                            <th>Author Email</th>
                            <th>Date</th>
                            <th>Rating</th>
                            <th>Approved</th>
                            <th>Post ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="movie"
                        author-email="johndeo@gmail.com"
                        date="2025-01-02 12:00:40"
                        rating="5"
                        approved="1"
                        post-id="32"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="movie"
                        author-email="johndeo@gmail.com"
                        date="2025-01-02 12:03:33"
                        rating="5"
                        approved="1"
                        post-id="33"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="video"
                        author-email="johndeo@gmail.com"
                        date="2025-01-08 10:41:50"
                        rating="4"
                        approved="1"
                        post-id="16"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="tvshow"
                        author-email="johndeo@gmail.com"
                        date="2025-01-08 11:43:00"
                        rating="3"
                        approved="1"
                        post-id="1"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="tvshow"
                        author-email="johndeo@gmail.com"
                        date="2025-01-09 11:36:35"
                        rating="5"
                        approved="1"
                        post-id="10"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="video"
                        author-email="johndeo@gmail.com"
                        date="2025-01-09 11:36:42"
                        rating="4"
                        approved="1"
                        post-id="5"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="movie"
                        author-email="johndeo@gmail.com"
                        date="2025-01-10 10:42:46"
                        rating="5"
                        approved="1"
                        post-id="45"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="video"
                        author-email="johndeo@gmail.com"
                        date="2025-01-13 07:08:44"
                        rating="4"
                        approved="1"
                        post-id="13"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="movie"
                        author-email="johndeo@gmail.com"
                        date="2025-01-15 04:58:43"
                        rating="4"
                        approved="1"
                        post-id="5"
                        isReview="true"
                        }}
                        {{> components/widgets/data-table
                        author="admin"
                        post-type="movie"
                        author-email="johndeo@gmail.com"
                        date="2025-01-17 06:51:59"
                        rating="5"
                        approved="1"
                        post-id="6"
                        isReview="true"
                        }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{!-- edit --}}
    <div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit">
        <div class="offcanvas-header">
            <h2 class="episode-playlist-title wp-heading-inline">
                <span class="position-relative ">
                    Edit Review</span>
            </h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="author">Author</label>
                            <input type="text" class="form-control" id="author" value="admin">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="author-email">Author Email</label>
                            <input type="text" class="form-control" id="author-email" value="johndeo@gmail.com">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="post-type">Post Type</label>
                            <input type="text" class="form-control" id="post-type" value="movie">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="rating">Rating</label>
                            <input type="text" class="form-control" id="rating" value="5">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label">Comment Content</label>
                            <textarea class="form-control large-text" aria-label="With textarea">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </textarea>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-4">
                        <label class="form-label">Comment Status</label>
                        <div class="form-check d-block">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                checked="">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Approve
                            </label>
                        </div>
                        <div class="form-check d-block">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Unapprove
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="offcanvas-footer border-top">
            <div class="d-flex gap-3 p-3">
                <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                    <i class="ph-fill ph-floppy-disk-back"></i>Save
                </button>
                <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"
                    aria-label="Close">
                    <i class="ph ph-caret-double-left"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}