{{#extend layout title="Person-category" isBanner="false" ActiveLink="category"
active="person-category"
isSelect2="true" isSweetalert="true" isQuillEditor="true" path="../" }}
{{#content "content"}}

<div class="row streamit-wraper-table2">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative "> Add New Category</span>
                </h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="form-label" for="category-name">Category
                            Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="category-name"
                            placeholder="Enter title of the genre.">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="category-slug1">Category
                            Slug <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="category-slug1"
                            placeholder="Enter slug of the genre.">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="parent-category">Parent
                            Category</label>
                        <select id="parent-category" class="form-control select2-basic-multiple">
                            <option>Add Parent Category</option>
                            <option>Actor</option>
                            <option>Actress</option>
                            <option>Director</option>
                            <option>Producer</option>
                            <option>Singer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Category Description</label>
                        <textarea class="form-control large-text" aria-label="With textarea"></textarea>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4">
                        <button class="btn btn-primary">Add Category</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="pb-3">
                <div class="card-header d-flex justify-content-between gap-3 flex-wrap align-items-center mb-4">
                    <h2 class="episode-playlist-title wp-heading-inline">
                        <span class="position-relative "> Person Categories </span>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-view table-space">
                        <table id="seasonTable"
                            class="data-tables table custom-table movie_table data-table-one custom-table-height"
                            data-toggle="data-table1">
                            <thead>
                                <tr class="text-uppercase">
                                <tr class="text-uppercase">
                                    <th class>
                                        <input type="checkbox" class="form-check-input" />
                                    </th>
                                    <th class>Name</th>
                                    <th class>Slug</th>
                                    <th class>Parent Genre</th>
                                    <th class>Count</th>
                                    <th class>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{> components/widgets/data-table
                                title = "Producer"
                                slug="producer"
                                genres=["action", "fight", "thriller", "etc"]
                                date="none"
                                views = "9"
                                viewsValue="true"
                                isThumbnail="true" }}

                                {{> components/widgets/data-table
                                title = "Director"
                                slug="director"
                                genres=["action", "fight", "thriller", "etc"]
                                date="none"
                                views = "7"
                                viewsValue="true"
                                isThumbnail="true" }}

                                {{> components/widgets/data-table
                                title = "Actress"
                                slug="actress"
                                genres=["action", "fight", "thriller", "etc"]
                                date="none"
                                views = "8"
                                viewsValue="true"
                                isThumbnail="true" }}

                                {{> components/widgets/data-table
                                title = "Actor"
                                slug="actor"
                                genres=["action", "fight", "thriller", "etc"]
                                date="none"
                                views = "8"
                                viewsValue="true"
                                isThumbnail="true"
                                }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- edit --}}
<div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit">
    <div class="offcanvas-header">
        <h2 class="episode-playlist-title wp-heading-inline">
            <span class="position-relative ">
                Update Category</span>
        </h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="form-group">
                <label class="form-label" for="category-name1">Category
                    Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="category-name1" value="Singer">
            </div>
            <div class="form-group">
                <label class="form-label" for="category-slug">Category
                    Slug <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="category-slug" value="singer">
            </div>
            <div class="form-group">
                <label class="form-label" for="parent-category">Parent
                    Category</label>
                <select id="parent-category1" class="form-control select2-basic-multiple">
                    <option>Add Parent Category</option>
                    <option selected="">Actor</option>
                    <option>Actress</option>
                    <option>Director</option>
                    <option>Producer</option>
                    <option>Singer</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Category Description</label>
                <textarea class="form-control large-text" aria-label="With textarea"></textarea>
            </div>
        </form>
    </div>
    <div class="offcanvas-footer border-top">
        <div class="d-flex gap-3 p-3">
            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="ph-fill ph-floppy-disk-back"></i>Save
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"
                aria-label="Close">
                <i class="ph ph-caret-double-left"></i>Close
            </button>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}