{{#extend layout title="Product" active="shop" isHeaderMerchandise="true" isFooter="true" isSweetalert="true"
isNoUISlider="true" path="../" isBreadcrumb="true" isSelect2="true"}}
{{#content "content"}}
<div class="section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-sm-12">
                <div class="d-flex align-items-center justify-content-between shop-filter flex-wrap gap-3">
                    <p class="text-white mb-0">Showing 1–10 of 31 results </p>
                    <div class="d-flex align-items-center ">
                        <div class="product-view-button rounded-3">
                            <ul class="nav_shop nav d-flex nav-pills mb-0 iq-product-filter d-flex gap-2 bg-transparent align-items-center list-inline"
                                id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn-sm btn-icon rounded-pill p-0" id="list-view-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-list-view" type="button" role="tab"
                                        aria-controls="pills-list-view" aria-selected="true">
                                        <span class="btn-inner d-flex align-items-center">
                                            <i class="ph ph-list-bullets grid-4x4 hover_effect active_effect"></i>
                                        </span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn-sm btn-icon rounded-pill p-0" id="grid-view-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-grid-view" type="button" role="tab"
                                        aria-controls="pills-grid-view" aria-selected="false">
                                        <span class="btn-inner d-flex">
                                            <i class="icon-grid-2x2 grid-4x4 hover_effect active_effect"></i>
                                        </span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn-sm btn-icon rounded-pill p-0" id="grid-three-view-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-grid-three-view-tab" type="button"
                                        role="tab" aria-controls="pills-grid-three-view-tab" aria-selected="false">
                                        <span class="btn-inner d-flex">
                                            <i class="icon icon-grid-3x3 grid-4x4"></i>
                                        </span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn-sm btn-icon rounded-pill p-0 active"
                                        id="grid-three-four-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-grid-three-four-view-tab" type="button" role="tab"
                                        aria-controls="pills-grid-three-four-view-tab" aria-selected="false">
                                        <span class="btn-inner d-flex">
                                            <i class="icon icon-grid-4x4 grid-4x4 hover_effect active_effect"></i>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="iq-custom-select d-inline-block shop-select rounded-3">
                            <select name="cars" class="form-control season-select select2-basic-single js-states">
                                <option value="season1">Default sorting</option>
                                <option>Sort by popularity</option>
                                <option>Sort by average rating</option>
                                <option>Sort by latest</option>
                                <option>Sort by price: low to high</option>
                                <option>Sort by price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade " id="pills-list-view" role="tabpanel" aria-labelledby="list-view-tab">
                        <div class="row row-cols-1">
                            <div class="col">
                                {{> components/widgets/product-card IsProductlist="true" ProductImg="01.webp"
                                shopTitle="Bag Pack" bgShop="primary"
                                shopDel="$48.00" shopPrice="$28.00" rating="4" shopDesc="There are many variations of
                                passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don’t look even slightly
                                believable."}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card IsProductlist="true" ProductImg="02.webp"
                                shopTitle="Believe Mask"
                                shopDel="" shopPrice="$13.00" rating='5' shopDesc="There are many variations of passages
                                of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don’t look even slightly believable."}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card IsProductlist="true" ProductImg="03.webp"
                                shopTitle="Black Bow" shopSale="Sale!"
                                shopDel="" shopPrice="$18.00 - $45.00" rating='5' shopDesc="There are many variations of
                                passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don’t look even slightly
                                believable."}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card IsProductlist="true" ProductImg="04.webp"
                                shopTitle="Black Cap" shopSale="New!" bgShop="dark"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' shopDesc="There are many variations of
                                passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don’t look even slightly
                                believable."}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card IsProductlist="true" ProductImg="05.webp"
                                shopTitle="Boxing Gloves"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' shopDesc="There are many variations of
                                passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                form, by injected humour, or randomised words which don’t look even slightly
                                believable."}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                        <div
                            class="row row-col-data gy-5 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-2">
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="01.webp" shopTitle="Bag Pack"
                                shopDel="$48.00" shopPrice="$28.00" rating="4" ratingStars="true" }}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="02.webp" shopTitle="Believe Mask"
                                shopDel="" shopPrice="$13.00" rating='5' ratingStars="true" }}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="03.webp" shopTitle="Black Bow"
                                shopSale="Sale!"
                                shopDel="" shopPrice="$18.00 - $45.00" rating='5' ratingStars="true" }}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="04.webp" shopTitle="Black Cap"
                                shopSale="New!" bgShop="dark"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true" }}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="05.webp" shopTitle="Boxing Gloves"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true" }}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="06.webp" shopTitle="Carry Bag"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true" }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-grid-three-view-tab" role="tabpanel"
                        aria-labelledby="grid-three-view-tab">
                        <div
                            class="row row-col-data gy-5 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-3">
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="01.webp" shopTitle="Bag Pack" bgShop="primary"
                                shopDel="$48.00" shopPrice="$28.00" rating="4" ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="02.webp" shopTitle="Believe Mask"
                                shopDel="" shopPrice="$13.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="03.webp" shopTitle="Black Bow"
                                shopSale="Sale!"
                                shopDel="" shopPrice="$18.00 - $45.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="04.webp" shopTitle="Black Cap"
                                shopSale="New!" bgShop="dark"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="05.webp" shopTitle="Boxing Gloves"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="06.webp" shopTitle="Carry Bag"
                                shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="07.webp" shopTitle="Cartoon Character"
                                shopPrice="$25.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="08.webp" shopTitle="Coffee Cup"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="09.webp" shopTitle="Crown"
                                shopDel="$10.00" shopPrice="$07.00" rating='5' ratingStars="true"}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="pills-grid-three-four-view-tab" role="tabpanel">
                        <div
                            class="row row-col-data gy-5 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="01.webp" shopTitle="Bag Pack" bgShop="primary"
                                shopDel="$48.00" shopPrice="$28.00" rating="4" ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="02.webp" shopTitle="Believe Mask"
                                shopDel="" shopPrice="$13.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="03.webp" shopTitle="Black Bow"
                                shopSale="Sale!"
                                shopDel="" shopPrice="$18.00 - $45.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="04.webp" shopTitle="Black Cap"
                                shopSale="New!" bgShop="dark"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="05.webp" shopTitle="Boxing Gloves"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="06.webp" shopTitle="Carry Bag"
                                shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="07.webp" shopTitle="Cartoon Character"
                                shopPrice="$25.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="08.webp" shopTitle="Coffee Cup"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="09.webp" shopTitle="Crown"
                                shopDel="$10.00" shopPrice="$07.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="10.webp" shopTitle="Daily Diary"
                                shopSale="Sale!"
                                shopDel="$20.00" shopPrice="$18.00" rating='5' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="11.webp" shopTitle="Floral Badges"
                                shopPrice="$20" rating='3' ratingStars="true"}}
                            </div>
                            <div class="col">
                                {{> components/widgets/product-card ProductImg="12.webp" shopTitle="Ghost Cap"
                                shopSale="Sale!"
                                shopPrice="$90.00" rating='4' ratingStars="true"}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Static Pagination Controls -->
                <div class="pagination justify-content-center my-5">
                    <ul class="pagination blog-pagination gap-2" id="pagination">
                        <li class="page-item">
                            <a class="page-link rounded-3" href="#"><i
                                    class="ph ph-arrow-left pageicon-lineheight"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link d-flex justify-content-center pageicon-lineheight rounded-3"
                                href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link d-flex justify-content-center pageicon-lineheight rounded-3"
                                href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link d-flex justify-content-center pageicon-lineheight rounded-3"
                                href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-3" href="#"><i
                                    class="ph ph-arrow-right pageicon-lineheight"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-12">
                <div class="pe-3">
                    {{> components/widgets/shop-sidebar}}
                </div>
            </div>
        </div>
    </div>
</div>
{{> components/widgets/quick-view}}
{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}