{{#extend layout title="episodeplaylist" isBanner="false" ActiveLink="TVShows" active="episodes-playlist"
isSelect2="true" isSweetalert="true" path="../" }}
{{#content "content"}}

<div class="row streamit-wraper-table2">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative "> Add New Playlist </span>
                </h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="form-label" for="playlist-name">Playlist Name <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="playlist-name"
                            placeholder="Enter the name of the playlist.">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="playlist-slug">Playlist Slug <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="playlist-slug"
                            placeholder="Enter the slug of the playlist.">
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4">
                        <button class="btn btn-primary">Add Playlist</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <div class="pb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="episode-playlist-title wp-heading-inline">
                        <span class="position-relative "> Playlist </span>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-view table-space">
                        <table id="seasonTable"
                            class="data-tables table custom-table movie_table data-table-one custom-table-height"
                            data-toggle="data-table1">
                            <thead>
                                <tr class=" text-uppercase">
                                    <th class="">
                                        <input type="checkbox" class="form-check-input" />
                                    </th>
                                    <th class="">Playlist Name</th>
                                    <th class="">Playlist Slug</th>
                                    <th class="">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{> components/widgets/data-table
                                isPlaylist="true"
                                playlist-name = "Radhe Krishna Stories"
                                playlist-slug="radhe-krishna-stories"
                                }}

                                {{> components/widgets/data-table
                                isPlaylist="true"
                                playlist-name = "episodes of pius"
                                playlist-slug="	episodes-of-pius"
                                }}

                                {{> components/widgets/data-table
                                isPlaylist="true"
                                playlist-name = "horror"
                                playlist-slug= "horror"
                                }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{!-- edit --}}
    <div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit">
        <div class="offcanvas-header">
            <h2 class="episode-playlist-title wp-heading-inline">
                <span class="position-relative ">
                    Update Playlist</span>
            </h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <div class="section-form">
                    <div class="form-group">
                        <label class="form-label" for="name">Playlist Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" value="Radhe Krishna Stories">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Slug">Playlist Slug <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Slug" value="radhekrishnastories">
                    </div>
                </div>
            </form>
        </div>
        <div class="offcanvas-footer border-top">
            <div class="d-flex gap-3 p-3">
                <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                    <i class="ph-fill ph-floppy-disk-back"></i>Save
                </button>
                <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"
                    aria-label="Close">
                    <i class="ph ph-caret-double-left"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>


{{/content}}
{{/extend}}