{{#extend layout title="Genres" isBanner="false" ActiveLink="TVShows" active="general"
isSelect2="true" isSweetalert="true" path="../" }}
{{#content "content"}}

<div class="row streamit-wraper-table2">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h2 class="episode-playlist-title wp-heading-inline">
                    <span class="position-relative ">
                        Add new genre </span>
                </h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="form-label" for="genre-name">Genre Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="genre-name" placeholder="Enter title of the genre.">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="genre-slug">Genre Slug <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="genre-slug" placeholder="Enter slug of the genre.">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="parent-genre">Parent Genre</label>
                        <select id="parent-genre" class="form-control select2-basic-multiple">
                            <option>Add Parent Genre</option>
                            <option>Action</option>
                            <option>Adventure</option>
                            <option>Animation</option>
                            <option>Crime</option>
                            <option>Horror</option>
                            <option>Mystery</option>
                            <option>Romance</option>
                            <option>TEST GENRES</option>
                            <option>TEST GENRES</option>
                        </select>
                    </div>

                    {{> components/widgets/upload-image-video upload-image-name="Thumbnail" }}

                    <div class="form-group">
                        <label class="form-label">Genre Description</label>
                        <textarea class="form-control large-text" aria-label="With textarea"></textarea>

                    </div>

                    <div class="d-flex align-items-center justify-content-end mt-4">
                        <button class="btn btn-primary">Add Genre</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="pb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="episode-playlist-title wp-heading-inline">
                        <span class="position-relative ">
                            TV Show Genre </span>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="table-view table-space">
                        <table id="seasonTable" class="data-tables table custom-table movie_table data-table-one"
                            data-toggle="data-table1">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>
                                        <input type="checkbox" class="form-check-input" />
                                    </th>
                                    <th>Thumbnail</th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Parent Genre</th>
                                    <th>Count</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{> components/widgets/data-table
                                title = "Romance"
                                thumbnail="genres/romance.webp"
                                slug="romance"
                                date= "None"
                                views = "2"
                                viewsValue="true"
                                }}

                                {{> components/widgets/data-table
                                title = "Mystery"
                                thumbnail="genres/mystery.webp"
                                slug="mystery"
                                date="	None"
                                views = "14"
                                viewsValue="true"
                                }}

                                {{> components/widgets/data-table
                                title = "Horror"
                                thumbnail="genres/horror.webp"
                                slug="horror"
                                date="None"
                                views = "13"
                                viewsValue="true"
                                }}

                                {{> components/widgets/data-table
                                title = "Crime"
                                thumbnail="genres/Crime.webp"
                                slug="crime"
                                date="None"
                                views = "10"
                                viewsValue="true"
                                }}

                                {{> components/widgets/data-table
                                title = "Animation"
                                thumbnail="genres/animation.webp"
                                slug="animation	"
                                date="None"
                                views = "10"
                                viewsValue="true"
                                }}


                                {{> components/widgets/data-table
                                title = "Adventure"
                                thumbnail="genres/adventure.webp"
                                slug="adventure"
                                date="None"
                                views = "18"
                                viewsValue="true"
                                }}

                                {{> components/widgets/data-table
                                title = "Action"
                                thumbnail="genres/action.webp"
                                slug="action"
                                date="None"
                                views = "22"
                                viewsValue="true"
                                }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{{!-- edit --}}
<div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit">
    <div class="offcanvas-header">
        <h2 class="episode-playlist-title wp-heading-inline">
            <span class="position-relative ">
                Update Genre</span>
        </h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="section-form">
                <div class="form-group">
                    <label class="form-label" for="name">Genre Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" value="Name">
                </div>
                <div class="form-group">
                    <label class="form-label" for="Slug">Genre Slug <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Slug" value="genremovie">
                </div>
                <div class="form-group">
                    <label class="form-label" for="parent-category">Parent Genre</label>
                    <select id="parent-category" class="form-control select2-basic-multiple">
                        <option>Add Parent Category</option>
                        <option>Actor</option>
                        <option>Actress</option>
                        <option>Director</option>
                        <option>Producer</option>
                        <option>Singer</option>
                    </select>
                </div>

                {{> components/widgets/upload-image-video upload-image-name="Thumbnail" isUploadImageDefault="true" }}

                <div class="form-group">
                    <label class="form-label flex-grow-1" for="Description">
                        Excerpt
                    </label>
                    <textarea id="Description" class="form-control" rows="7" placeholder="Genres"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="offcanvas-footer border-top">
        <div class="d-flex gap-3 p-3">
            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="ph-fill ph-floppy-disk-back"></i>Save
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"
                aria-label="Close">
                <i class="ph ph-caret-double-left"></i>Close
            </button>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}