{{#extend layout title="All Personality" active="all-personality" isHeader="true" isFooter="true" path="./"
isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}

<div class="section-padding">
   <div class="container-fluid">
      <div class="card-style-grid">
         <div class="row gy-4 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 personality-card">
            <div class="col">
               {{>components/widgets/personality-card cast-image="ava-monroe.webp" cast-title="Ava Monroe"
                  cast-category="actress" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="charles-melton.webp" cast-title="Charles Melton"
                  cast-category="actor" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="jack-nicholson.webp" cast-title="Jack Nicholson"
                  cast-category="actor" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="james-stewart.webp" cast-title="James Stewart"
                  cast-category="actor" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="jeff-bridges.webp" cast-title="Jeff Bridges"
                  cast-category="actress" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="jordan-grant.webp" cast-title="Jordan Grant"
                  cast-category="actress" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="mark-smith.webp" cast-title="Mark Smith"
                  cast-category="producer" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="maxwell-carter.webp" cast-title="Maxwell Carter"
                  cast-category="actress" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="ruby-scott.webp" cast-title="Ruby Scott"
                  cast-category="director" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="michael-fox.webp" cast-title="Michael Fox"
                  cast-category="producer" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="ryan-pierce.webp" cast-title="Ryan Pierce"
                  cast-category="actor" cast-path="person-detail.html"}}
            </div>
            <div class="col">
               {{>components/widgets/personality-card cast-image="john-abraham.webp" cast-title="John Abraham"
                  cast-category="actor" cast-path="person-detail.html"}}
            </div>
         </div>
      </div>
   </div>
</div>

{{/content}}
{{/extend}}