{{#extend layout title="Casts" active="cast" isHeader="true" isFooter="true" path="./" isBreadcrumb="true"
isSweetalert="true"}}
{{#content "content"}}
<section class="section-padding">
   <div class="container-fluid">
      <div
         class="data-listing personality-card row gy-5 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
         <div class="col">
            {{>components/widgets/personality-card cast-image="ava-monroe.webp" cast-title="Ava Monroe"
            cast-category="actress" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="charles-melton.webp" cast-title="Charles Melton"
            cast-category="actor" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="jack-nicholson.webp" cast-title="Jack Nicholson"
            cast-category="actor" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="james-stewart.webp" cast-title="James Stewart"
            cast-category="actor" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="jeff-bridges.webp" cast-title="Jeff Bridges"
            cast-category="actress" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="jordan-grant.webp" cast-title="Jordan Grant"
            cast-category="actress" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="mark-smith.webp" cast-title="Mark Smith"
            cast-category="producer" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="maxwell-carter.webp" cast-title="Maxwell Carter"
            cast-category="actress" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="ruby-scott.webp" cast-title="Ruby Scott"
            cast-category="director" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="michael-fox.webp" cast-title="Michael Fox"
            cast-category="producer" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="ryan-pierce.webp" cast-title="Ryan Pierce"
            cast-category="actor" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="john-abraham.webp" cast-title="John Abraham"
            cast-category="actor" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="leena-burton.webp" cast-title="Leena Burton"
            cast-category="actress" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="davina-decorous.webp" cast-title="Davina decorous"
            cast-category="producer"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="thomas-bailey.webp" cast-title="Thomas bailey"
            cast-category="producer"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="kelly-reilly.webp" cast-title="Kelly Reilly"
            cast-category="director"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="mark-smith.webp" cast-title="Mark Smith"
            cast-category="producer" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="angel-louis.webp" cast-title="angel louis"
            cast-category="producer"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="millar-joseph.webp" cast-title="Millar joseph"
            cast-category="producer"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="mark-wilson.webp" cast-title="mark wilson"
            cast-category="director"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="jack-walker.webp" cast-title="Jack Walker"
            cast-category="director"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="benjamin-hayes.webp" cast-title="Benjamin Hayes"
            cast-category="director" other-cast-category="Producer"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="olivia-foster.webp" cast-title="Olivia Foster"
            cast-category="actress" cast-path="person-detail.html"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="ethan-crawford.webp" cast-title="Ethan Crawford"
            cast-category="producer"}}
         </div>
         <div class="col">
            {{>components/widgets/personality-card cast-image="maria-rodriguez.webp" cast-title="Maria Rodriguez"
            cast-category="director"}}
         </div>
      </div>
   </div>
</section>
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}