{{#extend layout title="FAQ" active="faq" isHeader="true" isFooter="true" ismegamenu="true" path="./"
isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}

<div class="section-padding">
    <div class="container">
        <div class="iq-accordian iq-accordian-square">
            <div class="iq-accordian-block iq-active 1">
                <div class="iq-accordian-title text-capitalize d-flex justify-content-between align-items-center">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="ph ph-minus active"></i>
                        <i aria-hidden="true" class="ph ph-plus inactive"></i>
                    </div>
                    <span class="mb-0 accordian-title">What is streamit?</span>
                </div>
                <div class="iq-accordian-details" style="display: block;">
                    <p class="mb-0"> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’,
                        making it look like readable English. </p>
                </div>
            </div>
            <div class="iq-accordian-block 2">
                <div class="iq-accordian-title text-capitalize d-flex justify-content-between align-items-center">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="ph ph-minus active"></i>
                        <i aria-hidden="true" class="ph ph-plus inactive"></i>
                    </div>
                    <span class="mb-0 accordian-title">Will my account work outside my country?</span>
                </div>
                <div class="iq-accordian-details" style="display: none;">
                    <p class="mb-0"> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’,
                        making it look like readable English. </p>
                </div>
            </div>
            <div class="iq-accordian-block 3">
                <div class="iq-accordian-title text-capitalize d-flex justify-content-between align-items-center">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="ph ph-minus active"></i>
                        <i aria-hidden="true" class="ph ph-plus inactive"></i>
                    </div>
                    <span class="mb-0 accordian-title text-capitalize">I am facing video playback issues. What do I do?
                    </span>
                </div>
                <div class="iq-accordian-details" style="display: none;">
                    <p class="mb-0"> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’,
                        making it look like readable English. </p>
                </div>
            </div>
            <div class="iq-accordian-block 4">
                <div class="iq-accordian-title text-capitalize d-flex justify-content-between align-items-center">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="ph ph-minus active"></i>
                        <i aria-hidden="true" class="ph ph-plus inactive"></i>
                    </div>
                    <span class="mb-0 accordian-title text-capitalize">How can I manage notifications?</span>
                </div>
                <div class="iq-accordian-details" style="display: none;">
                    <p class="mb-0"> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’,
                        making it look like readable English. </p>
                </div>
            </div>
            <div class="iq-accordian-block 5">
                <div class="iq-accordian-title text-capitalize d-flex justify-content-between align-items-center">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="ph ph-minus active"></i>
                        <i aria-hidden="true" class="ph ph-plus inactive"></i>
                    </div>
                    <span class="mb-0 accordian-title text-capitalize">What benefits do I get with the packs?</span>
                </div>
                <div class="iq-accordian-details" style="display: none;">
                    <p class="mb-0"> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’,
                        making it look like readable English. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}

{{/content}}
{{/extend}}