{{#extend layout title="Genres" active="geners" isHeader="true" isFooter="true" path="./" isBreadcrumb="true"
isSweetalert="true"}}
{{#content "content"}}
<section class="section-padding">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Movie Genres</h4>
        </div>
        <div class="genres-grid gy-4 row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col">
                {{> components/widgets/genres-card geners-title="Action" geners-image="genre/action.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Adventure" geners-image="genre/adventure.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Animation" geners-image="genre/animation.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Crime" geners-image="genre/Crime.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Horror" geners-image="genre/horror.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Mystery" geners-image="genre/mystery.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Romance" geners-image="genre/romance.webp"
                geners-url="view-all-movie.html"}}
            </div>
        </div>
    </div>
</section>

<section class="section-padding-bottom">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Tv-Show Genres</h4>
        </div>
        <div class="genres-grid gy-4 row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col">
                {{> components/widgets/genres-card geners-title="Action" geners-image="genre/action.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Adventure" geners-image="genre/adventure.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Animation" geners-image="genre/animation.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Crime" geners-image="genre/Crime.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Horror" geners-image="genre/horror.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Mystery" geners-image="genre/mystery.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Romance" geners-image="genre/romance.webp"
                geners-url="view-all-movie.html"}}
            </div>
        </div>
    </div>
</section>

<section class="section-padding-bottom">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Video Genres</h4>
        </div>
        <div class="genres-grid gy-4 row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
           <div class="col">
                {{> components/widgets/genres-card geners-title="Action" geners-image="genre/action.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Adventure" geners-image="genre/adventure.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Animation" geners-image="genre/animation.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Crime" geners-image="genre/Crime.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Horror" geners-image="genre/horror.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Mystery" geners-image="genre/mystery.webp"
                geners-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/genres-card geners-title="Romance" geners-image="genre/romance.webp"
                geners-url="view-all-movie.html"}}
            </div>            
        </div>
    </div>
</section>
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}