{{#extend layout title="Membership Orders" active="membership-invoice" isHeader="true" isFooter="true" ismegamenu="true"
path="./"
isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}

<section class="section-padding">
    <div class="pmpro container">
        {{> components/widgets/membership-invoce-card }}
    </div>
</section>

{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}
{{!-- Mobile Footer End --}}

{{/content}}
{{/extend}}