{{#extend layout title="Movie Player" active="movie-player" isHeader="false" isFooter="false" path="./" bodyClass="custom-header-relative" }}
{{#content "content"}}

<div class="back-btn">
    <a class="btn btn-link text-white text-decoration-none p-0" href="video-detail.html"> <i class="ph ph-x"></i></a>
</div>

<div class="video-container">
    <video
      id="my-video"
      class="video-js vjs-big-play-centered"
      controls
      preload="auto"
      width="960"
      height="540"
      poster="{{path}}assets/images/player/player-poster.webp"
      data-setup='{}'>
      <source src="{{path}}assets/images/player/demo_videos.mp4" type="video/mp4" />
    </video>
</div>

{{/content}}
{{/extend}}