{{#extend layout title="Register" active="register" path="./"}}
{{#content "content"}}

<div class="sign-in-page vh-100"
  style="background-image: url({{path}}assets/images/pages/01.webp); background-size: cover; background-repeat: no-repeat;">
  <div class="container">
    <div class="row justify-content-center align-items-center height-self-center vh-100">
      <div class="col-lg-8 col-md-12 align-self-center">
        <div class="user-login-card rounded-3">
          <a href="{{path}}index.html">
            <img class="img-fluid logo" src="{{path}}assets/images/logo.png" alt="#">
          </a>
          <div class="sign-in-page-data">
            <h4 class="text-center mb-5">Create Your Account</h4>
            <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-5">
              <div class="col">
                <label class="mb-2 custom-form-label">First Name</label>
                <input type="text" class="form-control mb-0" required="">
              </div>
              <div class="col">
                <label class="mb-2 custom-form-label">Last Name</label>
                <input type="text" class="form-control mb-0" required="">
              </div>
              <div class="col">
                <label class="mb-2 custom-form-label">Username *</label>
                <input type="text" class="form-control mb-0" required="">
              </div>
              <div class="col">
                <label class="mb-2 custom-form-label">Email *</label>
                <input type="email" class="form-control mb-0" required="">
              </div>
              <div class="col">
                <label class="mb-2 custom-form-label">Password *</label>
                <div class="input-group custom-input-group mb-3">
                    <input placeholder="Password" required type="password"
                        id="exampleInputPassword2" class="mb-0 form-control">
                    <span class="input-group-text"><i class="ph ph-eye-slash"
                            id="togglePassword"></i></span>
                </div>
              </div>
              <div class="col">
                <label class="mb-2 custom-form-label">Confirm Password *</label>
                  <div class="input-group custom-input-group mb-3">
                      <input placeholder="Password" required type="password"
                          id="exampleInputPassword2" class="mb-0 form-control">
                      <span class="input-group-text"><i class="ph ph-eye-slash"
                              id="togglePassword"></i></span>
                  </div>
              </div>
            </div>
            <label class="list-group-item d-flex align-items-center mt-5 mb-3 text-white"><input
                class="form-check-input m-0 me-2" type="checkbox">I've read and accept the <a href="terms-of-use.html"
                class="ms-1">terms & conditions*</a></label>
            <div class="row text-center">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="full-button">
                  <a href="{{path}}login.html"
                    class="btn btn-primary text-capitalize position-relative w-100 my-3 rounded-3">
                    <span class="button-text">Sign Up</span>
                  </a>
                  <p class="mt-2 mb-0 fw-normal">Already have an account?<a href="login.html" class="ms-1">Login</a>
                  </p>
                </div>
              </div>
              <div class="col-lg-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/content}}
{{/extend}}