{{#extend layout title="Restricted Content" active="restricted-content" isHeader="true" isFooter="true"
isFslightbox="true" path="./" isSwiperSlider="true" isVideoJs="true" isSelect2="true" isSweetalert="true"
bodyClass="custom-header-relative"}}
{{#content "content"}}
<!-- Banner Start -->
<div class="poition-relative">
  <div class="iq-main-slider site-video position-relative">
    <video id="my-video" poster="{{path}}assets/images/media/rabbit.webp"
      class="my-video video-js vjs-big-play-centered w-100" loop autoplay muted preload="auto" data-setup='{
                  "techOrder": ["youtube"],
                  "sources": [{
                      "type": "video/youtube",
                      "src": "https://www.youtube.com/watch?v=spGSAeqxVUc"
                  }],
                  "youtube": {         
                      "modestbranding": 1,
                      "rel": 0,
                      "showinfo": 0,
                      "autoplay": 1
                  },
                  "fullscreen": true
              }'>
    </video>
  </div>


  {{!-- Detail part Start --}}
  <div class="movie-detail-part position-relative">
    <div class="trending-info pt-0 pb-0">
      <div class="details-parts">
        {{> components/widgets/movie-description moveName="Chosfies"
        movieType="NC-17" movieDuration="2hr : 6m" movieReleased="2021" movieViews="1.4k views" imdbRating="7"
        subscribe-to-watch="true"
        }}
      </div>
    </div>
  </div>
</div>
{{!-- Banner End --}}

<div class="container-fluid">
  <div class="overflow-hidden">
    {{!-- Recommended Start --}}
    <div class="recommended-block section-padding-top">
      <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
        <h4 class="main-title text-capitalize mb-0">Recommended</h4>
      </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="6 " data-laptop="6" data-tab="3" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/rabbit-portrait.webp" card-title="Rabbit"
              movie-time="1hr : 30mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/venom-portrait.webp" card-title="Venom"
              movie-time="1hr : 22mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/migration-portrait.webp"
              card-title="Migration"
              movie-time="2hr : 30mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/gameofhero-portrait.webp"
              card-title="Game Of Heros"
              movie-time="2hr : 12mins" prodct-primium="true" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/batter-caill-portrait.webp" card-title="Better Caill
              Saul"
              movie-time="2hr : 25mins" prodct-primium="true" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/kali-portrait.webp"
              card-title="Kali"
              movie-time="1hr : 45mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/deadpool.webp" card-title="Deadpool"
              movie-time="1hr : 45mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/krishna-portrait.webp"
              card-title="Krishna"
              movie-time="1hr : 45mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/jumanji-portrait.webp"
              card-title="Jumanji"
              movie-time="1hr : 45mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/any-name-portrait.webp" card-title="Any
              Name"
              movie-time="1hr : 45mins" card-lang="English (UK)" card-path="movie-detail.html"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
          <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
        </div>
      </div>
    </div>
    {{!-- Movies Recommended For You End --}}

    {{!-- Starring start --}}
    <div class="favourite-person-block">
      <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
          <h4 class="main-title text-capitalize mb-0">Starring</h4>
        </div>
        <div class="position-relative swiper swiper-card" data-slide="11" data-laptop="11" data-tab="4" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card">
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="olivia-foster.webp" cast-title="Olivia Foster"
              cast-category="actress" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="leena-burton.webp" cast-title="Leena Burton"
              cast-category="actress" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="ryan-pierce.webp" cast-title="Ryan Pierce"
              cast-category="actor" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="michael-fox.webp" cast-title="Michael Fox"
              cast-category="producer" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="ruby-scott.webp" cast-title="Ruby Scott"
              cast-category="director" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="maxwell-carter.webp" cast-title="Maxwell Carter"
              cast-category="actress" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="mark-smith.webp" cast-title="Mark Smith"
              cast-category="producer" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="ava-monroe.webp" cast-title="Ava Monroe"
              cast-category="actress" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="jack-nicholson.webp" cast-title="Jack Nicholson"
              cast-category="actor" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="charles-melton.webp" cast-title="Charles Melton"
              cast-category="actor" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="jeff-bridges.webp" cast-title="Jeff Bridges"
              cast-category="actress" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="james-stewart.webp" cast-title="James Stewart"
              cast-category="actor" cast-path="person-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="jordan-grant.webp" cast-title="Jordan Grant"
              cast-category="actress" cast-path="person-detail.html"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
          <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
        </div>
      </div>
    </div>
    {{!-- Starring End --}}

    {{!-- Crew start --}}
    <div class="favourite-person-block">
      <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
          <h4 class="main-title text-capitalize mb-0">Crew</h4>
        </div>
        <div class="position-relative swiper swiper-card" data-slide="11" data-laptop="11" data-tab="4" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card">
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="maria-rodriguez.webp" cast-title="Maria Rodriguez"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="oliver-turner.webp" cast-title="Oliver Turner"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="john-abraham.webp" cast-title="John Abraham"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="benjamin-hayes.webp" cast-title="Benjamin Hayes"
              cast-category="director" other-cast-category="Producer"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="ethan-crawford.webp" cast-title="Ethan Crawford"
              cast-category="producer"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="mark-wilson.webp" cast-title="mark wilson"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="jack-walker.webp" cast-title="Jack Walker"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="angel-louis.webp" cast-title="angel louis"
              cast-category="producer"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="millar-joseph.webp" cast-title="Millar joseph"
              cast-category="producer"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="kelly-reilly.webp" cast-title="Kelly Reilly"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="smith-jonas.webp" cast-title="smith Jonas"
              cast-category="director"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="davina-decorous.webp" cast-title="Davina decorous"
              cast-category="producer"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="thomas-bailey.webp" cast-title="Thomas bailey"
              cast-category="producer"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/personality-card cast-image="leena-burton.webp" cast-title="Leena burton"
              cast-category="producer"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next d-none d-lg-block"></div>
          <div class="swiper-button swiper-button-prev d-none d-lg-block"></div>
        </div>
      </div>
    </div>
    {{!-- Crew End --}}

    {{!-- Movies Related For You Start --}}
    <div class="related-movie-block">
      <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
        <h4 class="main-title text-capitalize mb-0">Related Movies</h4>
      </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/rabbit-portrait.webp" card-title="Rabbit"
              movie-time="2hr : 12mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/krishna-portrait.webp" card-title="Krishna"
              movie-time="1hr : 22mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/kali-portrait.webp" card-title="Kali"
              movie-time="1hr : 30mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/joker.webp" card-title="Joker"
              movie-time="1hr: 45mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/the-hunter-portrait.webp" card-title="The Hunter"
              movie-time="1hr : 30mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/jumanji-portrait.webp" card-title="Jumanji"
              movie-time="1hr : 30mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
    </div>
    {{!-- Movies Related For You End --}}

    {{!-- Video Related For You Start --}}
    <div class="video-block">
      <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
        <h4 class="main-title text-capitalize mb-0">Related Videos</h4>
      </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/frzzen.webp" card-title="Frzzen" movie-time="2hr :
              12mins" card-lang="English" card-path="movie-detail.html" prodct-primium="true"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/titanic-portrait.webp" card-title="Titanic"
              movie-time="1hr : 22mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/Adventure-1.webp" card-title="Adventure"
              movie-time="1hr
              : 30mins" card-lang="English" card-path="movie-detail.html" prodct-primium="true"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/kung-fu-panda-portrait.webp" card-title="Kung fu Panda"
              movie-time="1hr : 45mins" card-lang="English" card-path="movie-detail.html" prodct-primium="true"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/red-portrait.webp" card-title="Red"
              movie-time="1hr : 30mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/lost-in-space-portrait.webp" card-title="Lost in Space"
              movie-time="1hr : 30mins" card-lang="English" card-path="movie-detail.html" prodct-primium="true"}}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/charlie-chaplin-portrait.webp" card-title="Charlie
              Chaplin"
              movie-time="1hr : 30mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
    </div>
    {{!-- Video Related For You End --}}

    <!-- Upcoming Start -->
    <div class="upcomimg-block">
      <div class="d-flex align-items-center justify-content-between px-1 mb-2 pb-1 mb-md-4 pb-md-0">
        <h4 class="main-title text-capitalize mb-0">Upcoming</h4>
      </div>
      <div class="card-style-slider">
        <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2"
          data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline">
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/the-first-of-us-portrait.webp" card-title="the first of
              us"
              movie-time="2hr : 12mins" card-lang="English" card-path="movie-detail.html" }}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/migration-portrait.webp" card-title="Migration"
              movie-time="1hr : 22mins" card-lang="English" card-path="movie-detail.html" }}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/tianic.webp" card-title="Titanic"
              movie-time="1hr : 55mins" card-lang="English" card-path="movie-detail.html" }}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/the-crew-portrait.webp" card-title="The Crew"
              movie-time="1hr : 30mins" prodct-primium="true" card-lang="English" card-path="movie-detail.html" }}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/pirates-ofdayones-orignal.webp" card-title="Pirates of
              the Day Ones"
              movie-time="2hr : 45mins" card-lang="English" card-path="movie-detail.html" }}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/castle-rock-portrait.webp" card-title="Castle Rock"
              movie-time="1hr : 45mins" card-lang="English" card-path="movie-detail.html" }}
            </li>
            <li class="swiper-slide">
              {{>components/widgets/card-style card-image="media/vikings-portrait.webp" card-title="Vikings"
              movie-time="2hr : 30mins" card-lang="English" card-path="movie-detail.html"}}
            </li>
          </ul>
          <div class="swiper-button swiper-button-next"></div>
          <div class="swiper-button swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <!-- Upcoming End -->

    <div class="section-padding-bottom">
      <div class="rate-review-details">
        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
          <h5 class="main-title text-capitalize m-0 fw-medium">Review</h5>
          <div class="d-flex align-items-center gap-3">
            <a id="openReviewButton" class="btn btn-link p-0 custom-fs-14 openReviewButton" data-bs-toggle="offcanvas"
              href="#offcanvasReview" role="button" aria-controls="offcanvasReview">
              Add Review </a>
            <a class="btn btn-link p-0 custom-fs-14" href="{{path}}view-more.html">View More</a>
          </div>
        </div>
        <div class="comments-section">
          <div class="review-card">
            <div class="review-detail rounded-3">
              <h5 class="m-0 text-center"> Not Rated Yet</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{{!-- Modal --}}
{{>components/widgets/details-description-modal movie-name="Rabbit" year="2014" views="2.3k views" rating-count="8"
moviedurettion="true" time="2hr : 20m"}}
{{> components/widgets/mobile-footer}}

<div class="offcanvas overflow-y-auto widget-shopping-cart-content offcanvas-end offcanvas-sidebar sidebar-container on-rtl end border-left-0"
    tabindex="-1" id="offcanvasReview" aria-modal="true" role="dialog">
    <div class="offcanvas-header position-relative border-bottom">
        <h5 class="offcanvas-title fw-500" id="offcanvasReviewLabel">
            Add Review </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <!-- Add Nonce for security -->
            <input type="hidden" id="st_ajax_nonce" name="st_ajax_nonce" value="a19cf1e628"><input type="hidden"
                name="_wp_http_referer" value="/product/wp/streamit/tvshows/vikings/"> <input id="cm_id" type="hidden"
                name="comment_id" value="">

            <!-- Hidden fields for post type and post ID -->
            <input id="cm_post_type" type="hidden" name="post_type" value="tvshow">
            <input id="cm_post_id" type="hidden" name="post_id" value="1">

            <!-- User ID for logged-in users -->
            <input id="cm_user_id" type="hidden" name="user_id" value="12">

            <!-- Display logged-in user's name -->
            <div class="form-group">
                <input id="cm_name" name="cm_name" type="hidden" value="Marvin McKinney">
                <input id="cm_email" name="cm_email" type="hidden" value="marvin@demo.com">
                <p class="mt-0 text-heading">Logged in as: Marvin McKinney</p>
            </div>

            <!-- Rating section -->
            <div class="form-group mb-4">
                <label class="form-label mb-3">Your Rating</label>
                <div class="star-rating" id="starRating">
                    <input type="radio" id="star5" name="rating" value="5">
                    <label for="star5" title="5 stars"><i class="ph-fill ph-star" aria-hidden="true"></i></label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4" title="4 stars"><i class="ph-fill ph-star" aria-hidden="true"></i></label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3" title="3 stars"><i class="ph-fill ph-star" aria-hidden="true"></i></label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2" title="2 stars"><i class="ph-fill ph-star" aria-hidden="true"></i></label>
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1" title="1 star"><i class="ph-fill ph-star" aria-hidden="true"></i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label flex-grow-1" for="Description">
                    Your Review
                </label>
                <textarea id="Description" class="form-control review-text-area" rows="8" cols="45"></textarea>
            </div>

            <!-- Submit button -->
            <div class="iq-button">
                <a href="javascript:void()" class="btn btn-primary text-capitalize">
                    <span class="button-text">Submit Review</span>
                </a>
            </div>
        </form>
    </div>
</div>
{{/content}}
{{/extend}}