{{#extend layout title="Terms Of Use" active="terms-of-use" isHeader="true"
isFooter="true" ismegamenu="true" path="./" isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}

<div class="terms-of-use section-padding">
    <div class="container">
        <div class="title-box privacy-title-gap">
            <h4 class="head-title fw-500">1. Description of Service and Acceptance of
                Terms of Use</h4>
            <p class="terms-desc">
                The Streamit website provides streaming services for various
                entertainment content including movies, TV shows, and
                documentaries.
            </p>
            <p>
                By accessing or using the Streamit website, you agree to abide
                by the Terms of Use outlined herein.
            </p>
            <p>
                Streamit requires users to have the latest version of compatible
                browsers such as Google Chrome, Firefox, or Safari, with
                JavaScript and cookies enabled for optimal performance.
            </p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="head-title fw-500 mb-3">The Streamit website works best with:</h4>
            <ul class="ps-3">
                <li class="d-flex">Latest version of Google Chrome</li>
                <li class="d-flex">Latest version of Firefox</li>
                <li class="d-flex">Latest version of Safari</li>
                <li class="d-flex">JavaScript and cookies enabled</li>
            </ul>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="head-title fw-500">2. Subscription Services</h4>
            <p class="terms-desc">
                Streamit offers subscription-based services to access exclusive
                content and features.
            </p>
            <p>
                Subscribers gain access to a vast library of high-quality video
                content, ad-free streaming, and personalized recommendations.
            </p>
            <p>
                Subscription plans are available on a monthly or yearly basis,
                with flexible pricing options to suit different user
                preferences.
            </p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-4 fw-500">3. Third Party Payment Gateway – Financial
                Information</h4>
            <p>To facilitate payments for subscription services, Streamit utilizes a third-party payment gateway.</p>
            <p>Users are required to provide financial information such as credit card details or PayPal accounts for
                processing
                subscription payments securely.</p>
            <p>Streamit ensures that all financial transactions are encrypted and comply with industry-standard security
                protocols to
                protect user data.</p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-4 fw-500">4. Disclosure Children’s Privacy</h4>
            <p>Streamit is committed to protecting the privacy of children who use its services.</p>
            <p>Users under the age of 13 are required to obtain parental consent before accessing certain features or
                providing
                personal information.</p>
            <p>Streamit does not knowingly collect or solicit personal information from children under 13 without
                parental consent.</p>
        </div>
        <div class="title-box privacy-title-gap">
            <h4 class="mb-4 fw-500">5. Data transfer, storage & processing
                globally</h4>
            <p>By using Streamit’s services, users acknowledge and agree that their personal data may be
                transferred, stored, and
                processed globally.</p>
            <p>Data transfers may occur between servers located in different countries to provide seamless
                streaming experiences and
                improve service quality.</p>
            <p class="mb-0">Streamit adheres to data protection regulations and implements appropriate safeguards to
                ensure the security and privacy
                of user data during global transfers and processing.</p>
        </div>
    </div>
</div>
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}