{{#extend layout title="Tags" active="tags" isHeader="true" isFooter="true" path="./" isBreadcrumb="true"
isSweetalert="true"}}
{{#content "content"}}
<section class="section-padding tag-section" id="movieTag" style="display: none;">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Movie Tag</h4>
        </div>
        <div class="row gy-4 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 data-listing">
            <div class="col">
                {{> components/widgets/tag tag-title="Action" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Adventure" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Animation" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Comedy" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Drama" tag-url="view-all-movie.html"}}
            </div>
            <!-- Hidden elements to be shown when "Load More" is clicked -->
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Family" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Fantasy" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Horror" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Romance" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Thriller" tag-url="view-all-movie.html"}}
            </div>
        </div>

        <div class="text-center mt-4">
            <div class="iq-button">
                <a href="javascript:void(0)" class="btn text-uppercase position-relative custom-button load-more-btn">
                    <span class="button-text">Load More</span>
                    <i class="ph-fill ph-play"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-padding tag-section" id="tvshowTag" style="display: none;">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Tv-Show Tag</h4>
        </div>
        <div class="row gy-4 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 data-listing">
            <div class="col">
                {{> components/widgets/tag tag-title="Action" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Adventure" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Animation" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Comedy" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Drama" tag-url="view-all-movie.html"}}
            </div>
            <!-- Hidden elements to be shown when "Load More" is clicked -->
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Family" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Fantasy" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Horror" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Romance" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Thriller" tag-url="view-all-movie.html"}}
            </div>
        </div>
        <div class="text-center mt-4">
            <div class="iq-button">
                <a href="javascript:void(0)" class="btn text-uppercase position-relative custom-button load-more-btn">
                    <span class="button-text">Load More</span>
                    <i class="ph-fill ph-play"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section-padding tag-section" id="videoTag" style="display: none;">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Video Tag</h4>
        </div>
        <div class="row gy-4 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 data-listing">
            <div class="col">
                {{> components/widgets/tag tag-title="Action" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Adventure" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Animation" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Comedy" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Crime" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Drama" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Family" tag-url="view-all-movie.html"}}
            </div>
            <div class="col">
                {{> components/widgets/tag tag-title="Fantasy" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="horror" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Romance" tag-url="view-all-movie.html"}}
            </div>
            <div class="col hidden-tags" style="display: none;">
                {{> components/widgets/tag tag-title="Thriller" tag-url="view-all-movie.html"}}
            </div>
        </div>
        <div class="text-center mt-4">
            <div class="iq-button">
                <a href="javascript:void(0)" class="btn text-uppercase position-relative custom-button load-more-btn">
                    <span class="button-text">Load More</span>
                    <i class="ph-fill ph-play"></i>
                </a>
            </div>
        </div>
    </div>
</section>

{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}

{{/content}}
{{/extend}}