{{#extend layout title="View All" active="view-all-movie" isHeader="true" isFooter="true" path="./"
isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}

<div class="section-padding view-all-movies">
  <div class="container-fluid">
    <div class="card-style-grid">
      <div class="row gy-4 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 data-listing">
        <div class="col">
          {{>components/widgets/card-style card-image="media/the-first-of-us-portrait.webp" card-title="The First Of
          Us"
          movie-time="2:59" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/gameofhero-portrait.webp" card-title="Game Of
          Heros"
          movie-time="2:30" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/venom-portrait.webp" card-title="Venom"
          movie-time="2:03" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/rabbit-portrait.webp" card-title="Rabbit"
          movie-time="2:30" movieTime="true" card-lang="English (UK)" prodct-primium="true"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/migration-portrait.webp"
          card-title="Migration"
          movie-time="2:04" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/krishna-portrait.webp" card-title="Krishna"
          movie-time="2:45" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/kali-portrait.webp" card-title="Kali"
          movie-time="0:00" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/joker-portrait.webp" card-title="Joker"
          movie-time="2:45" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/deadpool-portrait.webp" card-title="Deadpool"
          movie-time="2:14" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col">
          {{>components/widgets/card-style card-image="media/any-name-portrait.webp" card-title="Any Name"
          movie-time="2:20" movieTime="true" card-lang="English (UK)"}}
        </div>

        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/batter-caill-portrait.webp" card-title="Better Call
          Saul"
          movie-time="2:30" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/jumanji-portrait.webp" card-title="Jumanji"
          movie-time="2:03" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/yoshi-portrait.webp" card-title="YoShi" movie-time="2:15"
          movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/the-co-noueriing-portrait.webp" card-title="The
          Conjuring"
          movie-time="2:07" movieTime="true" card-lang="English (Canada)" prodct-primium="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/giirek-portrait.webp" card-title="Giikre"
          movie-time="2:31" movieTime="true" card-lang="English (UK)" prodct-primium="true"}}
        </div>

        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/another-danger-portrait.webp" card-title="Another Danger"
          movie-time="2:15" movieTime="true" card-lang="English (UK)" prodct-primium="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/te-oaler-portrait.webp" card-title="TF Oaler"
          movie-time="2:09" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/kung-fu-panda-portrait.webp"
          card-title="Kung Fu Panda" movie-time="2:30"
          movieTime="true" card-lang="English (UK)" prodct-primium="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/john-wick-portrait.webp" card-title="John Wick"
          movie-time="1:44" movieTime="true" card-lang="English (New Zealand)" prodct-primium="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/revenge-of-the-sith-portrait.webp" card-title="Revenge
          Of The Sith"
          movie-time="2:16" movieTime="true" prodct-primium="true" prodct-primium="true"}}
        </div>

        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/spiderman-portrait.webp" card-title="Spiderman"
          movie-time="2:30" movieTime="true" prodct-primium="true" isnotlangCard="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/war-for-the-planet-portrait.webp" card-title="War For
          The Planet"
          movie-time="2:25" movieTime="true" }}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/fast-furious-portrait.webp"
          card-title="Fast & Furious" movie-time="2:09"
          movieTime="true" prodct-primium="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/dinoosaur-portrait.webp" card-title="Dinoosaur"
          movie-time="2:17" movieTime="true"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/chosfies-portrait.webp" card-title="Chosfies"
          movie-time="2:06" movieTime="true"}}
        </div>

        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/bumblebee-portrait.webp" card-title="Bumblebee"
          movie-time="2:06" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/batter-caill-portrait.webp"
          card-title="Batter Caill" movie-time="2:06"
          movieTime="true" card-lang="English (South Africa)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/arrival-portrait.webp" card-title="Arrival"
          movie-time="2:15" movieTime="true" card-lang="English (UK)"}}
        </div>
        <div class="col hidden-tags" style="display: none;">
          {{>components/widgets/card-style card-image="media/the-hunter-portrait.webp" card-title="The Hunter"
          movie-time="2:30" movieTime="true" card-lang="English (Canada)"}}
        </div>
      </div>
      <!-- Static Load More -->
      <div class="text-center mt-4">
        <button type="button" class="btn btn-primary position-relative load-more-btn">
          <span class="button-text">Load More</span>
        </button>
      </div>
    </div>
  </div>
</div>
{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}