{{#extend layout title="Ph Regular" isBanner="false" active="ph-regular" isFlatpickr="true" path="../" }}
{{#content "content"}}

<div class="container-fluid">
   <div class="row">
      <div class="card">
         <div class="card-body">
            <h4 class="fw-bold">Ph Regular</h4>
            <div class="border-bottom mt-3"></div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-bell" name="bell" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-phone" name="phone" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-dog" name="dog" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-fish" name="fish" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-bug" name="bug" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-caret-down" name="caret-down" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-caret-left" name="caret-left" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-caret-right" name="caret-right" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-caret-up" name="caret-up" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-caret-circle-double-left"
                  name="caret-circle-double-left" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-caret-circle-double-right"
                  name="caret-circle-double-right" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-download" name="download" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-navigation-arrow" name="location-arrow" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-share" name="share" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-rewind" name="rewind" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-play" name="play" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-pause" name="pause" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-arrows-clockwise" name="arrows-clockwise" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-speaker-low" name="speaker-low" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-speaker-simple-x" name="speaker-simple-x" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-speaker-x" name="speaker-x" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-speaker-high" name="speaker-high" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-youtube-logo" name="youtube-logo" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-car" name="car" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-truck" name="truck" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-tree" name="tree" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-pinterest-logo" name="pinterest-logo" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-file-js" name="file-js" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-buildings" name="buildings" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-note-pencil" name="note-pencil" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-copy" name="copy" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-scissors" name="cut" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-pen" name="pen" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-tag" name="tag" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-sim-card" name="sim-card" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-list-checks" name="tasks" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-chat-centered-text" name="comment" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-video" name="video" }}
               </div>
               <div class="col">
                  {{> components/partials/icon-component class="ph ph-smiley" name="smile" }}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{{/content}}
{{/extend}}